@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

:root {
    --maincolor: #f9fafe;
}
body {
    background-color: var(--maincolor);
    --font-roboto: 'Roboto Slab', serif;
    --font-raleway: 'Raleway', sans-serif;
}
.navbaar {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    flex-direction: row;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.logo {
    font-family: 'Rock Salt', cursive;
}

.shaker {
    color: red;
    font-size: larger;
}

.search {
    border: #96abbd solid 2px;
    border-radius: 20px;
    height: 55px;
    width: 60%;
    background-color: var(--maincolor);
    padding-left: 30px;
}

.pfp {
    width: 50px;
}
/*Small devices (landscape phones, 576px and up)*/
/*@media (max-width: 576px) {*/
/*  .search {*/
/*    width: 100%;*/
/*  }*/
/*}*/

.empty {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.empty h2 {
    font-size: 1.25rem;
    color: #f9d3b4;
    font-family: var(--font-raleway);
}

.carousel-item img {
    width: 300px;
    height: 800px; /* Adjust the height as needed */
    object-fit: cover; /* Preserve aspect ratio and fill container */
}

.con {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie {
    width: 300px;
    height: 400px;
    margin: 1rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    -moz-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    -ms-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    -o-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}
.movie> div:nth-of-type(1) {
    width: 100%;
    height: 100%;
}

.movie> div:nth-of-type(1) img {
    height: fit-content;
    width: 100%;
}
/* 
.movie> div:nth-of-type(1) {
    position: absolute;
    padding: 16px;
    width: 300px;
    opacity: 1;
    top: 0;
    color: #000000;
}




.movie> div:nth-child(3) {
    opacity: 1;
    z-index: 2;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 16px 24px 24px 24px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    position: absolute;
    bottom: -1500px;
    right: 0;
    left: 0;
}

.movie> div:nth-of-type(3) span {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    opacity: 1;
    color: #858585;
}

.movie> div:nth-of-type(3) h5 {
    margin-top: 5px;
    opacity: 1;
    font-family: 'Roboto Slab', serif;
    color: #626262;
}

.movie:hover div:nth-of-type(2) {
    height: 100%;
    opacity: 0.8;
}

.movie:hover div:nth-of-type(3) {
    background-color: transparent;
    bottom: 0;
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}

.movie:hover div:nth-of-type(1) {
    opacity: 1;
} */

@media screen and (max-width: 400px) {
    .carousel-item img {
        width: 100%;
        height: 300px; /* Adjust the height as needed */    
        object-fit: cover; /* Preserve aspect ratio and fill container */
    }
    .con {
        margin-top: 2rem;
    }

    .movie {
        width: 90%;
        margin: 1rem;
    }
    .search {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .carousel-item img {
        width: 100%;
        height: 300px; /* Adjust the height as needed */
        object-fit: cover; /* Preserve aspect ratio and fill container */
    }
    .search {
        width: 100%;
    }
}
@media screen and (min-width: 910px) and (max-width: 1000px) {
    .carousel-item img {
        width: 100%;
        height: 300px; /* Adjust the height as needed */
        object-fit: cover; /* Preserve aspect ratio and fill container */
    }
    .search {
        width: 90%;
    }
}
